<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>First_Sence</key>
	<array>
		<dict>
			<key>s_img_name</key>
			<string>sence_1</string>
		</dict>
		<dict>
			<key>s_img_name</key>
			<string>sence_2</string>
		</dict>
		<dict>
			<key>s_img_name</key>
			<string>sence_3</string>
		</dict>
	</array>
	<key>TEMPLATE_THEME_1</key>
	<array>
		<dict>
			<key>s_img_name</key>
			<string>p1_1</string>
		</dict>
		<dict>
			<key>s_img_name</key>
			<string>p2_1</string>
		</dict>
		<dict>
			<key>s_img_name</key>
			<string>p3_1</string>
		</dict>
		<dict>
			<key>s_img_name</key>
			<string>p4_1</string>
		</dict>
		<dict>
			<key>s_img_name</key>
			<string>p5_1</string>
		</dict>
		<dict>
			<key>s_img_name</key>
			<string>p6_1</string>
		</dict>
	</array>
	<key>TEMPLATE_THEME_2</key>
	<array>
		<dict>
			<key>s_img_name</key>
			<string>p1_2</string>
		</dict>
		<dict>
			<key>s_img_name</key>
			<string>p2_2</string>
		</dict>
		<dict>
			<key>s_img_name</key>
			<string>p3_2</string>
		</dict>
		<dict>
			<key>s_img_name</key>
			<string>p4_2</string>
		</dict>
		<dict>
			<key>s_img_name</key>
			<string>p5_2</string>
		</dict>
	</array>
	<key>TEMPLATE_THEME_3</key>
	<array>
		<dict>
			<key>s_img_name</key>
			<string>p1_3</string>
		</dict>
		<dict>
			<key>s_img_name</key>
			<string>p2_3</string>
		</dict>
		<dict>
			<key>s_img_name</key>
			<string>p3_3</string>
		</dict>
		<dict>
			<key>s_img_name</key>
			<string>p4_3</string>
		</dict>
	</array>
</dict>
</plist>
