<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>iShare_Edit_List</key>
	<array>
		<dict>
			<key>i_image</key>
			<string>icon_1</string>
			<key>i_name</key>
			<string>小最</string>
			<key>i_title</key>
			<string>我们这一家</string>
			<key>i_detail</key>
			<string>2014年12月11日</string>
			<key>i_url</key>
			<string>http://www.iweddingplus.com/h5_app/timeline/my2014.html#debug</string>
		</dict>
		<dict>
			<key>i_image</key>
			<string>icon_2</string>
			<key>i_name</key>
			<string>李大锤同学</string>
			<key>i_title</key>
			<string>肥猫猫</string>
			<key>i_detail</key>
			<string>2015年1月11日</string>
			<key>i_url</key>
			<string>http://action.tenpay.com/hybrid/action/2014/weixin/recruitment/index.shtml</string>
		</dict>
	</array>
	<key>iShare_Done_List</key>
	<array>
		<dict>
			<key>i_image</key>
			<string>icon_3</string>
			<key>i_name</key>
			<string>小最</string>
			<key>i_title</key>
			<string>我和女王的婚礼</string>
			<key>i_detail</key>
			<string>2015年2月11日</string>
			<key>i_url</key>
			<string>http://www.iweddingplus.com/h5_app/jay/index.html?from=timeline&amp;isappinstalled=0</string>
		</dict>
	</array>
	<key>iShare_Best_List</key>
	<array>
		<dict>
			<key>i_image</key>
			<string>icon_4</string>
			<key>i_name</key>
			<string>李大锤同学</string>
			<key>i_title</key>
			<string>小 Baby</string>
			<key>i_detail</key>
			<string>2015年1月31日</string>
			<key>i_url</key>
			<string>https://www.baidu.com/</string>
		</dict>
	</array>
	<key>iShare_Sence_First_List</key>
	<array>
		<dict>
			<key>s_name</key>
			<string>婚礼</string>
			<key>s_img_name</key>
			<string>makecards_puzzle4_storyboard1_icon</string>
		</dict>
		<dict>
			<key>s_name</key>
			<string>宠物</string>
			<key>s_img_name</key>
			<string>makecards_puzzle4_storyboard2_icon</string>
		</dict>
		<dict>
			<key>s_name</key>
			<string>亲子</string>
			<key>s_img_name</key>
			<string>makecards_puzzle4_storyboard3_icon</string>
		</dict>
		<dict>
			<key>s_name</key>
			<string>聚会</string>
			<key>s_img_name</key>
			<string>makecards_puzzle4_storyboard4_icon</string>
		</dict>
		<dict>
			<key>s_name</key>
			<string>闺密</string>
			<key>s_img_name</key>
			<string>makecards_puzzle4_storyboard5_icon</string>
		</dict>
		<dict>
			<key>s_name</key>
			<string>独享</string>
			<key>s_img_name</key>
			<string>makecards_puzzle4_storyboard6_icon</string>
		</dict>
	</array>
	<key>iShare_Sence_Template_List</key>
	<array>
		<dict>
			<key>s_name</key>
			<string></string>
			<key>s_img_name</key>
			<string>makecards_puzzle3_storyboard1_icon</string>
		</dict>
		<dict>
			<key>s_name</key>
			<string></string>
			<key>s_img_name</key>
			<string>makecards_puzzle3_storyboard2_icon</string>
		</dict>
		<dict>
			<key>s_name</key>
			<string></string>
			<key>s_img_name</key>
			<string>makecards_puzzle3_storyboard3_icon</string>
		</dict>
		<dict>
			<key>s_name</key>
			<string></string>
			<key>s_img_name</key>
			<string>makecards_puzzle3_storyboard4_icon</string>
		</dict>
	</array>
</dict>
</plist>
