<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>First_Template</key>
	<array>
		<dict>
			<key>s_name</key>
			<string></string>
			<key>s_img_name</key>
			<string>s3_1</string>
			<key>s_template_style</key>
			<string>1</string>
			<key>s_sub_template_style</key>
			<string>0</string>
			<key>img_count</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>s_name</key>
			<string></string>
			<key>s_img_name</key>
			<string>p1_1</string>
			<key>s_template_style</key>
			<string>1</string>
			<key>s_sub_template_style</key>
			<string>1</string>
			<key>img_count</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>s_name</key>
			<string></string>
			<key>s_img_name</key>
			<string>p2_1</string>
			<key>s_template_style</key>
			<string>1</string>
			<key>s_sub_template_style</key>
			<string>2</string>
			<key>img_count</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>s_name</key>
			<string></string>
			<key>s_img_name</key>
			<string>p3_1</string>
			<key>s_template_style</key>
			<string>1</string>
			<key>s_sub_template_style</key>
			<string>3</string>
			<key>img_count</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>s_name</key>
			<string></string>
			<key>s_img_name</key>
			<string>p4_1</string>
			<key>s_template_style</key>
			<string>1</string>
			<key>s_sub_template_style</key>
			<string>4</string>
			<key>img_count</key>
			<integer>4</integer>
		</dict>
        <dict>
            <key>s_name</key>
            <string></string>
            <key>s_img_name</key>
            <string>p6_1</string>
            <key>s_template_style</key>
            <string>1</string>
            <key>s_sub_template_style</key>
            <string>6</string>
            <key>img_count</key>
            <integer>6</integer>
        </dict>
		<dict>
			<key>s_name</key>
			<string></string>
			<key>s_img_name</key>
			<string>p2_2</string>
			<key>s_template_style</key>
			<string>2</string>
			<key>s_sub_template_style</key>
			<string>2</string>
			<key>img_count</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>s_name</key>
			<string></string>
			<key>s_img_name</key>
			<string>p3_2</string>
			<key>s_template_style</key>
			<string>2</string>
			<key>s_sub_template_style</key>
			<string>3</string>
			<key>img_count</key>
			<integer>3</integer>
		</dict>
		
	</array>
</dict>
</plist>
