<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>First_Template</key>
	<array>
		<dict>
			<key>s_name</key>
			<string></string>
			<key>s_img_name</key>
			<string>Sence_Template_1_1</string>
			<key>s_template_stype</key>
			<string>1</string>
			<key>s_sub_template_stype</key>
			<string>1</string>
		</dict>
		<dict>
			<key>s_name</key>
			<string></string>
			<key>s_img_name</key>
			<string>Sence_Template_1_2</string>
            <key>s_template_stype</key>
            <string>1</string>
            <key>s_sub_template_stype</key>
            <string>2</string>
		</dict>
		<dict>
			<key>s_name</key>
			<string></string>
			<key>s_img_name</key>
			<string>Sence_Template_1_3</string>
            <key>s_template_stype</key>
            <string>1</string>
            <key>s_sub_template_stype</key>
            <string>3</string>
		</dict>
		<dict>
			<key>s_name</key>
			<string></string>
			<key>s_img_name</key>
			<string>Sence_Template_1_4</string>
            <key>s_template_stype</key>
            <string>1</string>
            <key>s_sub_template_stype</key>
            <string>4</string>
		</dict>
		<dict>
			<key>s_name</key>
			<string></string>
			<key>s_img_name</key>
			<string>Sence_Template_1_5</string>
            <key>s_template_stype</key>
            <string>1</string>
            <key>s_sub_template_stype</key>
            <string>5</string>
		</dict>
		<dict>
			<key>s_name</key>
			<string></string>
			<key>s_img_name</key>
			<string>Sence_Template_1_6</string>
            <key>s_template_stype</key>
            <string>1</string>
            <key>s_sub_template_stype</key>
            <string>6</string>
		</dict>
		<dict>
			<key>s_name</key>
			<string></string>
			<key>s_img_name</key>
			<string>Sence_Template_1_7</string>
            <key>s_template_stype</key>
            <string>1</string>
            <key>s_sub_template_stype</key>
            <string>7</string>
		</dict>
		<dict>
			<key>s_name</key>
			<string></string>
			<key>s_img_name</key>
			<string>Sence_Template_1_8</string>
            <key>s_template_stype</key>
            <string>1</string>
            <key>s_sub_template_stype</key>
            <string>8</string>
		</dict>
	</array>
</dict>
</plist>
